<h1>Post <%= @the_post.id %> Details</h1>

<dl>
  <dt>Title</dt>
  <dd>
    <%= @the_post.title %>
  </dd>
<hr>
  <dt>Creator</dt>
  <dd>
    <%= @the_post.user.username %>
  </dd>
<hr>
  <dt>Content</dt>
  <dd>
    <%= @the_post.body %>
  </dd>
</dl>

<div style="display: flex;">
  <form action="/edit_post/<%= @the_post.id%>">
    <button>Edit post</button>
  </form>
  
  <form action="/delete_post/<%= @the_post.id%>">
    <button>Delete this post</button>
  </form>
</div>


<h2>Comments Section</h2>

<table border="1">
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Date Posted</th>
    <th>Delete Comment</th>
  </tr>

  <% @the_post.comments.each do |comment|  %>
  <tr>
    <td><%= comment.commenter.username %></td>
    <td><%= comment.body %></td>
    <td><%= comment.created_at %></td>
    <td><a href="/delete_comment/<%= comment.id %>">Delete</a></td>
  </tr>
  <% end%>
</table>

<h3>Add comment</h3>
<form action="/add_comment">
  <label for="post_id">Post ID</label>
  <input id="post_id" type="text" name="query_post_id" value="<%= @the_post.id %>">

  <label for="author_name">Comment Author</label>
  <input id="author_name" type="text" name="query_author_name">

  <label for="comment">Comment</label>
  <textarea name="query_comment" id="comment" placeholder="Enter a comment..." ></textarea>

  <button>Add comment</button>
</form>
